{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team Unhackables</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href='{%static "Password_Generator/css/bootstrap.min.css" %}' rel="stylesheet" />
    <link href='{%static "Password_Generator/fontawesome/css/all.min.css" %}' rel="stylesheet"  />
    <link href='{%static "Password_Generator/css/templatemo-diagoona.css" %}' rel="stylesheet" />
    <style>
      .password{
    font-family: 'Century-Schoolbook',Serif;
    width: 49%;
    height: 100%;
    position: relative;

}
    </style>

</head>

<body>
    <div class="tm-container">
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="fas fa-laptop fa-3x mt-1 tm-logo"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename">Team UnHackables</h1>
                        </div>
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button"
                            data-toggle="collapse" data-target="#navbar-nav"
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="about.html">ABOUT THE PROJECT <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="members.html">Members</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="register.html">Register</a>
                                </li>
                              </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Thanks</h2>
                                <p>Thanks for registering with us, you view the generated password below</p>
                            </div>
                        </div>
                        <hr>
                        <div class="media my-3 mb-5 tm-service-media">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">The Password is</h2>
                                <div class = 'password' id = 'password'>
                                    <p>{{password_1}}</p>
                                    <p>{{password_2}}</p>
                                    <p>{{password_3}}</p>
                                    <p>{{password_4}}</p>
                                </div>
                            </div>
                            <p align = 'right'>
                                <button onclick="copyText(password)">Copy the code</button>
                            </p>
                        </div>
                        <hr>
                        <div class="media my-3 tm-service-media tm-service-media-img-l">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">CONTACT</h2>
                                <p>For any Feedback,Queries or issues Feel free to contact us on our official MAIL ID:</p>
                                <p align = 'center'><u>teamunhackables@gmail.com</u></p>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>

<div class="tm-row">
            <div class="tm-col-left text-center">
            </div>
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <p class="mb-0">Team UnHackables

                    | Abhijith G, Snehit K and Manikrishneshwar S</a></p>
                </footer>
            </div>
        </div>
        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

     <script src='{% static "Password_Generator/js/jquery-3.4.1.min.js"%}'></script>
    <script src='{% static "Password_Generator/js/bootstrap.min.js" %}'></script>
    <script src='{% static "Password_Generator/js/jquery.backstretch.min.js"%}'></script>
    <script src='{% static "Password_Generator/js/templatemo-script.js"%}'></script>
    <script src='{% static "Password_Generator/js/Copy.js"%}'></script>
    <script>
    function myFunction() {
     var copyText = document.getElementById("password");
     copyText.select()
     //copyText.setSelectionRange(0, 99999);
     document.execCommand('copy');
     alert("Copied the text");
    }
    </script>
    <script>
        function copyText(element) {
          var range, selection, worked;

          if (document.body.createTextRange) {
            range = document.body.createTextRange();
            range.moveToElementText(element);
            range.select();
          } else if (window.getSelection) {
            selection = window.getSelection();
            range = document.createRange();
            range.selectNodeContents(element);
            selection.removeAllRanges();
            selection.addRange(range);
          }

          try {
            document.execCommand('copy');
            alert('text copied');
          }
          catch (err) {
            alert('unable to copy text');
          }
        }
    </script>
</body>

</html>
